doctype html
html(lang='en')
    head
    
        meta(charset='utf-8')
        - let mtitle = 'shaneoneill.io'
        - let mdescr = 'Programming, hacking, cyberpunk, ramblings, and code - A blog by Shane O\'Neill.'
        - let mkeywords = 'shane oneill'
        if title || (post && post.title && post.title !== '')
          - mtitle = title || post.title 
          - mtitle = mtitle + ' - shane oneill'
        if stitle
          - mtitle = stitle
        if description || (post && post.description && post.description !== '')
          - mdescr = description || post.description
        if keywords || (post && post.keywords && post.keywords !== '')
          - mkeywords = keywords || post.keywords
        meta(http-equiv='X-UA-Compatible', content='ie=edge,chrome=1')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        meta(name='description', content=mdescr)
        if post && post.author && post.author !== 'unknown'
          meta(name="author", content="Shane O'Neill")
        meta(name="keywords", content=mkeywords)
        meta(name="title", content=mtitle)

        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:site" content="@zeevosec")
        if post && post.twitter
          meta(name="twitter:creator" content=post.twitter)
        meta(name="twitter:description" content=mdescr)
        meta(name="twitter:image" content="https://shaneoneill.io/img/bedroom_square.png")
        meta(name="twitter:title" content=mtitle)

        title=mtitle

        link(rel='stylesheet', type='text/css', href='/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/css/lightbox.min.css')
        link(rel='stylesheet', type='text/css', href='/css/fonts.css')
        link(rel='stylesheet', type='text/css', href='/css/main.css')
        link(rel='stylesheet', type='text/css', href='/css/style.css')
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="icon", href="/favicon.ico", type="image/x-icon")
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-104714715-2')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-104714715-2');
        script(src='/js/jquery-3.1.1.min.js')
        script(src='/js/lightbox.min.js')
    .site-container.outersc
      block content
      block wheel
      include footer

