extends header
block content
    .site-container
        .site-header
            include navbar
            header
              .row
                .col-md-12
                  .float-left
                    img(style='display:inline' src='/img/robotcircle2.png', width=45)
                  .float-left
                    p.text-left(style='display:inline;padding-left:10px') Shane [zeevo] O'Neill
                      span.text-left.tagline(style='padding-left:35px;font-size:13px; display:block') Programmer. Cyberlife. Hack the planet.
              hr
              h1 #{title}
              .tagline
                  | #{tagline}
        article
          if !posts.length
            p(style="font-style:italic") Theres nothing here... 
          - console.log(posts)
          each pst in posts
            - var date = moment(pst.date).format('MMMM Do, YYYY');
            div
              .post-entry
                  h2
                    a(href=pst.url) #{pst.title}
                    br
                    span.post-date #{date}
                  .post-detail
                      .post-summary #{pst.description}
