extends page
block wheel
  .wheel.table
    ul(style="display:inline")
      - let prevhidden, nexthidden;
      - if (!prev) prevhidden = 'visibility: hidden' 
      - if (!next) nexthidden = 'visibility: hidden' 
      li
        a.button(href=prev, style=prevhidden) <
      li
        a.button(href='/posts/random') Random
      li
        a.button(href=next, style=nexthidden) >
    - var outof = post.number + '/' + total;
    div
      i=outof

