extends header
block content
    .site-container
        .site-header
            include navbar
            header
                h1= title
                .tagline
                    | All writings.
        article
            - var years = Object.keys(postmap).sort().reverse()
            if !years || years.length == 0
                p(style="font-style:italic") Theres nothing here... 
            each yr in years
                h1.year= '20' + yr
                - var psts = postmap[yr]
                each pst in psts
                    div
                        .post-entry
                            h2
                                a(href='/' + pst.location) #{pst.title} 
                                span.post-date #{pst.displayDate}
                            .post-detail
                                .post-summary #{pst.description}