extends header
block content
    .site-container
        .site-header
            include navbar
            header
                h1 #{title}
                .tagline
                    | #{tagline}
        article
          if !posts.length
            p(style="font-style:italic") Theres nothing here... 
          each pst in posts
            - var date = moment(pst.date).format('MMMM Do, YYYY');
            div
              .post-entry
                  h2
                    a(href=pst.url) #{pst.title}
                    br
                    span.post-date #{date}
                  .post-detail
                      .post-summary #{pst.description}
